@import url('https://fonts.googleapis.com/css?family=Kanit:300,400');

body{
    font-family: Kanit;
    padding: 5%;
}
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.media{
    grid-column-start: 3;
}
p{
    color:rgb(162, 171, 178);
}
.techskillimg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.img1,.img2,.img3,.img3,.img4,.img5,.img6{
    height: 48px;
    width: 48px;
}
.mediaskillimg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.sociallinks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.twitter{
    grid-column-start: 2;
}

@media screen and (max-width: 600px) {
    h1,h2,h3,p{
        text-align: center;
    }
    .skills{
        display: flex;
        flex-direction:column;
        align-items: center;
        
        
    }
    .techskillimg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align: center;
    grid-column-gap: 3px;
}
    .mediaskillimg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align: center;
    grid-column-gap: 3px;
}
     
    
    .sociallinks{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-column-gap: 4px;

        
        
    }
    .insta{
        grid-column-start: 5;
        align-self: center;
    }
    .twitter{
        grid-column-start: 6;
        align-self: center;
    }



}
